#dot_map {
	top:25px;
	bottom: 50px; 
	left: 10px;
	right: 10px;
}
#bar {
	top:25px;
	bottom: 50px; 
	left: 10px;
	right: 10px;
}
#pure-g {
	margin-bottom: 25px;
}
#time_series {
	top:25px;
	bottom: 50px; 
	left: 10px;
	right: 10px;
}