#dot_map {
	top:25px;
	bottom: 50px; 
	left: 10px;
	right: 10px;
}
#bar1 {
	top:25px;
	bottom: 50px; 
	left: 10px;
	right: 10px;
}
#bar2 {
	top:25px;
	bottom: 50px; 
	left: 10px;
	right: 10px;
}
#pure-g {
	margin-bottom: 25px;
}
#time_series {
	top:25px;
	bottom: 50px; 
	left: 10px;
	right: 10px;
}
body {
	background-color: #fbefdf;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
}
.p {
	color: grey;
}