#dot_map {
	top:25px;
	bottom: 50px; 
	left: 10px;
	right: 10px;
}
#chloro_map {
	top:25px;
	bottom: 50px; 
	left: 10px;
	right: 10px;
}
#bar1 {
	top:25px;
	bottom: 50px; 
	left: 10px;
	right: 10px;
}
#bar2 {
	top:25px;
	bottom: 50px; 
	left: 10px;
	right: 10px;
}
#pure-g {
	margin-bottom: 25px;
}
#time_series {
	top:25px;
	bottom: 50px; 
	left: 10px;
	right: 10px;
}
body {
	background-color: #8d6852;
	color: black;
}

.centered {
	text-align: center;
}

.highlighted {
	background-color: #eb7;
}

.highlighter {
	background-color: #f3d1a4;
}

.padded {
	padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: auto;
}

#lightpage {
	width: 950px;
	background-color: #fbefdf;
	margin: auto;
}